name: Deploy to Elastic Beanstalk

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build
          cp -r build ../backend/

      - name: Install backend dependencies
        run: |
          cd backend
          npm install --production

      - name: Zip backend
        run: |
          cd backend
          zip -r app.zip .

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: devtrack-app
          environment_name: devtrack-env
          region: ap-south-1
          deployment_package: backend/app.zip

